$("#next_date").html("#{escape_javascript(link_to " > next week", change_date_path(:date => @date.weeks_ago(-1).beginning_of_week.strftime("%d"), :month => @date.weeks_ago(-1).beginning_of_week.strftime("%m"), :year => @date.weeks_ago(-1).beginning_of_week.strftime("%Y")), :remote => true)}");

$("#current_date").html("#{escape_javascript(link_to @date.strftime("%m-%d-%Y"), "#calendar-picker", "data-toggle" => "modal" , :id => "select_date_of_week")}");

$("#previous_date").html("#{escape_javascript(link_to "previous week < ", change_date_path(:date => @date.weeks_ago(1).beginning_of_week.strftime("%d"), :month => @date.weeks_ago(1).beginning_of_week.strftime("%m"), :year => @date.weeks_ago(1).beginning_of_week.strftime("%Y")), :remote => true)}");

$("#prev_month").html("#{j(link_to(' Previous Month < ',change_date_path(:date => (@date.at_beginning_of_month-1).strftime('%d'), :month => (@date.at_beginning_of_month-1).strftime('%m'), :year => (@date.at_beginning_of_month-1).strftime('%Y')), :remote => true))}")

$("#next_month").html("#{j(link_to(' > Next month ',change_date_path(:date => (@date.at_end_of_month+1).strftime('%d'), :month => (@date.at_end_of_month+1).strftime('%m'), :year => (@date.at_end_of_month+1).strftime('%Y')), :remote => true))}")

$("#current_month").html("#{j(@date.strftime('%b'))}")
$("#remote_date").html("#{j(render('teams/show_calendar', :dater => @date))}")
$("#schedule-data-table").html("#{escape_javascript render :partial => "teams/schedule", :locals => {:schedule => @schedules, :team => @team, :order => @order} }");
$(".ajax-loading").addClass("hidden");
