//TODO should refactor below section
.page-contents.find-team
  %center
    #myModal1.modal.hide.fade.span4{:style => "left:37%;"}
      .modal-header
        = link_to "X", "#", :class => "close", "data-dismiss" => "modal"
        = "Please enter school"
      .modal-body
        %table
          %tr
            %td{:align => "right"}
              = label_tag :state , "State "
            %td
            %td{:style => "width:230;"}
              = select_tag "state", options_for_select(State::US_STATES)
          %tr
            %td{:align => "right"}
              = label_tag :team ,"School "
            %td
            %td{:style => "width:230"}
              = text_field_tag :team, nil,{:class => "validator"}
          %tr
            %td{:colspan =>"3" ,:style => "border-bottom:solid 1px #E8E7E6;padding:-5px"}
          %tr
            %td{:style => "height:5px"}
          %tr
            %td
            %td
            %td.error.length.schools.none{:style =>"color:red"}
          %tr
            %td{:colspan => "3",:align =>"right"}
              %button#button_request.btn.btn-primary Submit
  .box-borders
    .row
      .span6#form_fix_width
        = form_tag search_teams_path, :method => :get do
          .span6{:style => "margin-top: 0.5em"}
            %table
              %tr
                %td
                  =select_tag "state_id", options_from_collection_for_select(@states, "id", "name"), :prompt => 'Choose State'
                %td{:style => "padding-right: 1em"}

                %td
                  #conference= render "shared/conferences/conference", :conferences => @conferences, :schools => @schools
        .span2.offset5.manualmargin
          %p{:style => "margin-top: -1em;"}
          = link_to "Don't see your school?  Request TeamZoom at your school" ,"#myModal1" , :class => "request_team" ,"data-toggle" => "modal"          
      .span.clearfix{:style => "margin-top :0.6em;margin-left:3.6em;pading-left: 5em"}
        %button#show_list.btn.btn.btn-primary{:style => "padding-left:2em;padding-right: 2em;"} Go
        .span.error.state.none{:style =>"top: 31px; left: 2px; position: absolute; color:red"}
        .span.error.conference.none{:style =>"top: 31px; left: 195px; position: absolute; color:red"}
        .span.error.school.left_school.none{:style =>"top: 31px; position: absolute; color:red"}
  .row.btn-toolbar.list-teams
    .span9
      .loading.none= image_tag('common/loading.gif')
      .teams.none
