//######################################################################
//# Change History
//###################################################################### 
//# Date-02/05/2013
//# Coder- Shrikant Khandareusers
//# Description:  Moved partial "team_reference" from view folder To
//#              "shared/registrations/team_reference"
//#               Changed render path to "shared/registrations/team_reference"
//######################################################################
%h2
  Edit #{resource_name.to_s.humanize}
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
  = f.error_notification
  .form-inputs{:style => "overflow:auto;"}
    .span5
      = f.input :email, :required => true, :autofocus => true
      = f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
      = f.input :password_confirmation, :required => false
      = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
      = f.input :user_type, :collection => User::ROLES.collect{|r|[r, r]}, :required => true
    .span3.user_edit_team_sport
      - if resource.check_subscriber
        = link_to "Unsubscribe", cancel_orders_path, :class => "btn btn-warning", :confirm => "If you unsubscribe, your account will no longer be linked to a subscription package, and you will need to buy a new subscription to watch games.", :style => "margin-bottom:1em;"
      
      = link_to "I wish to close my account", registration_path(resource_name), :data => { :confirm => "If you close your account, you will no longer have access to the TeamZoom website and all information linked to your account will be permanently erased." }, :method => :delete, :class => "btn btn-danger"
      = render "shared/registrations/team_reference", :f => f , :states => @states , :conferences => @conferences , :schools => @schools , :teams => @teams
      #more_info

        / = render "more_info", :user => current_user
  .form-actions
    = button_tag "Submit",:type => "button", :class => 'btn btn-primary update_user'
    / = link_to "Back", :back, :class => "btn btn-primary"
