.page-contents
  .row
    .span3
      %select
        %option Select a Sport: ALL
  .row
    .span3
      %p
        Week of:
        %a{:href => "#"} <- July 16 ->
  .row
    .span11
      %table.table.table-striped.lists
        %thead
          %tr
            %th Time (ET)
            %th Game
            %th Premium
            %th Basic
            %th Condensed
            %th Highlights
            %th Home/Away Feeds
        %tbody
          %tr
            %td
              1:05 PM
            %td
              = image_tag('common/sample_game.png')
              Angels
              %br/
              = image_tag('common/sample_game1.png')
              Yankees
            %td
              LAA:
              %span.bluetext FSW-HD
              %br/
              NYY:
              %span.bluetext YES-HD
            %td
              %span.bluetext Watch
            %td
            %td
              %span.bluetext Watch
            %td
              LAA:
              %span.bluetext KLAA
              alt:
              %span.bluetext KWKW
              %br/
              NYY:
              %span.bluetext WCBS
              alt:
              %span.bluetext WADO
          %tr
            %td
              1:05 PM
            %td
              = image_tag('common/sample_game.png')
              Angels
              %br/
              = image_tag('common/sample_game1.png')
              Yankees
            %td
              LAA:
              %span.bluetext FSW-HD
              %br/
              NYY:
              %span.bluetext YES-HD
            %td
              %span.bluetext Watch
            %td
            %td
              %span.bluetext Watch
            %td
              LAA:
              %span.bluetext KLAA
              alt:
              %span.bluetext KWKW
              %br/
              NYY:
              %span.bluetext WCBS
              alt:
              %span.bluetext WADO
          %tr
            %td
              1:05 PM
            %td
              = image_tag('common/sample_game.png')
              Angels
              %br/
              = image_tag('common/sample_game1.png')
              Yankees
            %td
              LAA:
              %span.bluetext FSW-HD
              %br/
              NYY:
              %span.bluetext YES-HD
            %td
              %span.bluetext Watch
            %td
            %td
              %span.bluetext Watch
            %td
              LAA:
              %span.bluetext KLAA
              alt:
              %span.bluetext KWKW
              %br/
              NYY:
              %span.bluetext WCBS
              alt:
              %span.bluetext WADO
          %tr
            %td
              1:05 PM
            %td
              = image_tag('common/sample_game.png')
              Angels
              %br/
              = image_tag('common/sample_game1.png')
              Yankees
            %td
              LAA:
              %span.bluetext FSW-HD
              %br/
              NYY:
              %span.bluetext YES-HD
            %td
              %span.bluetext Watch
            %td
            %td
              %span.bluetext Watch
            %td
              LAA:
              %span.bluetext KLAA
              alt:
              %span.bluetext KWKW
              %br/
              NYY:
              %span.bluetext WCBS
              alt:
              %span.bluetext WADO
          %tr
            %td
              1:05 PM
            %td
              = image_tag('common/sample_game.png')
              Angels
              %br/
              = image_tag('common/sample_game1.png')
              Yankees
            %td
              LAA:
              %span.bluetext FSW-HD
              %br/
              NYY:
              %span.bluetext YES-HD
            %td
              %span.bluetext Watch
            %td
            %td
              %span.bluetext Watch
            %td
              LAA:
              %span.bluetext KLAA
              alt:
              %span.bluetext KWKW
              %br/
              NYY:
              %span.bluetext WCBS
              alt:
              %span.bluetext WADO
          %tr
            %td
              1:05 PM
            %td
              = image_tag('common/sample_game.png')
              Angels
              %br/
              = image_tag('common/sample_game1.png')
              Yankees
            %td
              LAA:
              %span.bluetext FSW-HD
              %br/
              NYY:
              %span.bluetext YES-HD
            %td
              %span.bluetext Watch
            %td
            %td
              %span.bluetext Watch
            %td
              LAA:
              %span.bluetext KLAA
              alt:
              %span.bluetext KWKW
              %br/
              NYY:
              %span.bluetext WCBS
              alt:
              %span.bluetext WADO
          %tr
            %td
              1:05 PM
            %td
              = image_tag('common/sample_game.png')
              Angels
              %br/
              = image_tag('common/sample_game1.png')
              Yankees
            %td
              LAA:
              %span.bluetext FSW-HD
              %br/
              NYY:
              %span.bluetext YES-HD
            %td
              %span.bluetext Watch
            %td
            %td
              %span.bluetext Watch
            %td
              LAA:
              %span.bluetext KLAA
              alt:
              %span.bluetext KWKW
              %br/
              NYY:
              %span.bluetext WCBS
              alt:
              %span.bluetext WADO
