!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    = stylesheet_link_tag('application', :media => "all")
    = javascript_include_tag "head/application"
    = csrf_meta_tags
    = yield(:head)
    %title
      = yield(:title) || "Teamzoom"
  %body
    = javascript_tag "Cufon.now()"
    = javascript_include_tag "application"
    = yield(:js)
    %div
      = render(:partial => 'shared/term_use')
      .next-term
        = link_to('Close', '#',:class => "btn btn-primary")
