.modal#sport_popup.fade
  .modal-header
    = link_to "X", "#", :class => "close", "data-dismiss" => "modal", :id => "close"
    %h2
      - if @sport.new_record?
        Create Sport
      - else
        Edit Sport
  .modal-body
    = simple_form_for(@sport,:url => sport_url,:method => method, :remote => decide,:html => {:class => "form-horizontal"}) do |f|
      = f.error_notification
      .sport_errors_at_create
      .sport_errors_at_update

      = f.input :name
      = f.hidden_field :active
      .form-actions
        = f.button :submit