//######################################################################
//# Change History
//###################################################################### 
//# Date-02/04/2013
//# Coder- Shrikant Khandare
//# Description:  Moved partial "total_raise" from view folder To
//#              "shared/admin/transactions/total_raise"
//#               Changed render path to "shared/admin/transactions/total_raise"
//#               Moved partial "left_menu" from view folder To
//#              "shared/admin/transactions/left_menu"
//#               Changed render path to "shared/admin/transactions/left_menu"
//#               Moved partial "mail_report" from view folder To
//#              "shared/admin/transactions/mail_report"
//#               Changed render path to "shared/admin/transactions/mail_report"
//#               Moved partial "chart_subscribers" from view folder To
//#              "shared/admin/transactions/chart_subscribers"
//#               Changed render path to "shared/admin/transactions/chart_subscribers"
//######################################################################
.row
  .span12
    .row
    .span11
      %div.text-margin
      = hidden_field_tag "team_id", params[:team_id]
      #total_raise= render "shared/admin/transactions/total_raise", :total_raise => @total_raise
      %div.pull-right
        = select_tag "viewers_date_filter", options_for_select(User::FITTER_DASH_BOARD.invert)
        %div Next Payment Date: May 31, 2012
      .clear
      = render "shared/admin/transactions/left_menu"
      %div.content-sub
        = render "shared/admin/transactions/mail_report"
        %div.date.pull-right
          = form_tag admin_team_viewers_filter_path, :method =>:get,:remote=>true, :class => "offset0-5" do
            = text_field_tag "from_date",  Date.today.beginning_of_month.strftime("%d-%m-%Y"), :class => "span1"
            = "-"
            = text_field_tag "end_date", Date.today.end_of_month.strftime("%d-%m-%Y"), :class => "span1"
            = button_tag "Filter", :class => "btn btn-success"
        .clear
        .chart
          .span1.offset3#loading
            - if (@chart)
              = image_tag "common/loading.gif"
          #chart
            = render "shared/admin/transactions/chart_subscribers"
