- if user_admin_with_edit_mode? || user_manager_with_edit_mode?
  #edit_render
%table.list-teampage.lists.table-size.table-striped.table
  %thead
    %tr
      - if user_admin_with_edit_mode? || user_manager_with_edit_mode?
        %th
      %th.center DATE
      %th.center START TIME
      %th.center END TIME
      %th.center SPORT
      %th.center TEAM
      %th.center HOME / AWAY
      %th.center Location
      %th.hide Purchase
      %th Watch
  %tbody
    - schedule.each do |s|
      %tr.editable-by-admin
        - if user_admin_with_edit_mode? || user_manager_with_edit_mode?
          %td.center
            = link_to "", edit_admin_team_schedule_path(@team || team, s), :remote => true, :class => "icon-pencil color-pen", :title => "Edit"
            %br
            = link_to "", admin_team_schedule_path(@team || team, s), :data => { :confirm => 'Are you sure?' }, :class => "icon-trash color-pen", :method => :delete, :remote => true, :title => "Delete"
        %td.center
          - if s.event_date
            = month_day_of_date(s.event_date)
        %td.center
          /= s.start_time.strftime("%H:%M %p")
          %br= s.time_zone_abbreviation
        %td.center
          /= s.end_time.strftime("%H:%M %p")
          %br= s.time_zone_abbreviation
        %td.center
          = s.sport.name rescue  ""
        %td.center
          = s.subteam_home.name rescue ""
          .line-sub
          = s.subteam_opponent.name rescue ""
        %td
          = image_tag(get_logo_team(s.subteam_home.teamsport.team), :class => 'schedule_logo_team') rescue ""
          = s.subteam_home.teamsport.team.name rescue ""
          .line
          = image_tag(get_logo_team(s.subteam_opponent.teamsport.team), :class => 'schedule_logo_team') rescue ""

          = s.subteam_opponent.teamsport.team.name rescue ""
        %td
          = s.venue.venue rescue ""
        %td.center.hide
          %span.bluetext= popup_check_account("Buy",s)
        %td.center
          %span.bluetext
            = link_to "Watch", "##{s.id}", :id => "#{s.id}", :class => "watch_this_video"
            #render_watch_video
          - if user_signed_in?
            - if current_user.is_payment or (current_user.role == "Admin")
              - if ( s.event_date.to_date < Date.today_in_zone(s.us_timezone) || (s.event_date.to_date == Date.today_in_zone(s.us_timezone) && s.start_time <= time_without_zone(Time.now, s.us_timezone) && time_without_zone(Time.now, s.us_timezone) <= s.end_time) || (s.event_date.to_date == Date.today_in_zone(s.us_timezone) && time_without_zone(Time.now, s.us_timezone) >= s.end_time) )
                %span.bluetext
                  = link_to "Watch", "##{s.id}", :id => "#{s.id}", :class => "watch_this_video"
                  #render_watch_video
              - else
                %span.bluetext
                  = link_to("Coming soon","#")
              / = link_to_if((s.event_date.to_date<=Date.today and s.start_time <= Time.now),"Watch", "##{s.id}", :id => "#{s.id}", :class => "watch_this_video"){link_to("coming soon","#")}
              / and (Time.now <= 6.hours.since(s.time)) is another condition for future implementation
            - else
              - if ( s.event_date.to_date > Date.today_in_zone(s.us_timezone) || (s.event_date.to_date == Date.today_in_zone(s.us_timezone) &&  s.start_time >= time_without_zone(Time.now, s.us_timezone)) )
                %span.bluetext
                  = link_to("Coming soon","#")
              - else
                %span.bluetext= link_to("Purchase to watch", "#payment_options", "data-toggle" => "modal", :id => "payment1", :value => s.id)
                = render "teams/check_login"
                = render "orders/payment_options", :schedule => s.id
                = render "orders/confirm_monthly"
                = render "orders/confirm_individual"
              #render_payment_input
          - else
            %span.bluetext= link_to("Login to watch", "#check_login", "data-toggle" => "modal")
            = render "teams/check_login"


