<div class="span10 offset2 list_show" style="margin-top:3em">
  <div class="row">
    <%- if @teams.blank? %>
      <center> 
        <div style="font-family: verdana,arial,helvetica,sans-serif;font-size: 20px;color:red">
          Data not Found.
        </div>
      </center>
    <%- else %>
      <%- @teams.each do |team| %>
        <%= link_to team_path(team),:class => "link_border" do %>
          <div class="border_team">
            <div style="font-family: verdana,arial,helvetica,sans-serif;font-size: 20px;line-height: 50px;">
              <table>
                <tr>
                  <td><%= image_tag(get_logo_team(team) , :class => "medium_logo_team") %></td>
                  <td><%= team.name %></td>
                </tr>
                  <td style="color:#00008B">State</td>
                  <td><%= team.school.conference.state.name %></td>
                <tr>
                  <td style="color:#00008B">Conference</td>
                  <td><%= team.school.conference.name %></td>
                </tr>
                <tr>
                  <td style="color:#00008B">School</td>
                  <td><%= team.school.name %></td>
                </tr>
              </table>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>